body {
  background-attachment: fixed;
  background-image: url('./images/stars.gif');
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Source Serif Pro', serif, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}

.image {
  width: 400px;
}

table tr {
  position: relative;
  left: 50px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  margin-top: 50px;
}

table th {
  background-color: black;
  border: solid 1px white;
  height: 40px;
}

table tr:nth-child(odd) {
  background-color: rgba(200, 200, 200, 0.1);
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 5, 0);
}

table td {
  min-width: 140px;
}

table th {
  min-width: 100px;
  max-width: 200px;
}

input,select,button {
  border: none;
  border-radius: 28px;
  margin: 10px 15px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  font-family: 'Source Serif Pro', serif, Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(255, 255, 10);
  cursor: pointer;
  width: 100px;
}

button:hover {
  font-weight: 900;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}